[Desktop Entry]
Name=Krono
Name[cs]= 
Name[de]=Krono
Name[et]=Krono
Name[fr]=Krono
Name[ga]=Krono
Name[hu]=Krono
Name[km]=Krono
Name[nl]=Krono
Name[pl]=Krono
Name[pt]=Krono
Name[pt_BR]=Krono
Name[sk]=Krono
Name[sv]=Krono
Name[uk]=Krono
Name[x-test]=xxKronoxx
Exec=krono %i -caption "%c"
Icon=chronometer
Type=Application
Categories=Qt;KDE;System
GenericName=History Journal
GenericName[et]=Ajaloopäevik
GenericName[fr]=Journal d'historique
GenericName[hu]=Előzménynapló
GenericName[km]=ទិនានុប្បវត្តិ​ប្រវត្តិ
GenericName[nl]=Journaal van geschiedenis
GenericName[pl]=Dziennik historii
GenericName[pt]=Diário do Histórico
GenericName[pt_BR]=Diário do histórico
GenericName[sk]=Žurnál histórie
GenericName[sv]=Historisk journal
GenericName[uk]=Програма для перегляду журналу дій
GenericName[x-test]=xxHistory Journalxx
Terminal=false
X-DBUS-StartupType=Unique
